{% extends "spirit/_base.html" %} {% block custom_head_extra %}
<style>
  :root {
    /* --st-text-prim: #; */
    /* --st-text-sec: #c9c9c9;
    --st-bg-prim: #f5f5f5; */
    /* --st-bg-sec: #012700;
    --st-bg-ter: #012100;
    --st-bg-qua: #011a00;
    --st-bg-qui: #011500; */
    /* --st-text-selected-prim: #5cba58;
    --st-highlight-prim: #830000;
    --st-text-button: var(--st-text-sec);
    --st-bg-input: var(--st-bg-qui);
    --st-bg-checkbox: #black;
    --st-bg-comment-user-admin: #979733;
    --st-bg-comment-user-mod: #2e8f38;
    --st-bg-comment-user-topic-owner: #2e658f;
    --st-bg-message-info: var(--st-bg-qui);
    --st-text-message-info: #023800;
    --st-bg-message-error: #5e0000;
    --st-bg-selection: white;
    --st-text-selection: black;
    --st-bg-unread: #13232f;
    --st-bg-comment-diff-ins: #979733;
    --st-bg-comment-diff-del: #5e0000; */
  }
</style>
{% endblock %}
